<section class="about-arapey-container interactive-controls">

  <article class="about-arapey-content">
    <h2 class="about-arapey-title" contenteditable="" spellcheck="false">About Arapey</h2>
    <p class="about-arapey-content-small" contenteditable="" spellcheck="false">
      Arapey <span class="arapey-pronounced">(Ah-ra-pay)</span> is a contemporary modern
      typeface with some Bodoni characteristics, but the structures, smooth lines, and
      finishes leave a feeling of calm and distinction.
      The first sketches were made during a vacation in Arapey, a small town in northern
      Uruguay, a place of inspiration, where time seems to stop, giving us a space to
      make us reflect on the chosen design decisions and if they will reflect the same
      feelings that gives us the landscape where it was created.
    </p>
  </article>

  <section class="about-arapey-content-interactive">
    {% include select.html handle:"interactive-controls-select" color: "red" %}
    <article class="about-arapey-content">
      <p contenteditable="" spellcheck="false" class="about-arapey-interactive-paragraph interactive-controls-text">
        Say hello to Arapey<br>Write something
      </p>
    </article>

    <section class="interactive-controls-list-container">
      <ul class="interactive-controls-list">
        {% include tick-slider.html value: 100 labelStart: "Size" name: "font-size" min: 20 max: 120  badge: true %}
      </ul>
    </section>
  </section>

</section>