<section class="about-arapey-container">
  <article class="about-arapey-content">
    <p class="prose-content" contenteditable="" spellcheck="false">
        Arapey <span class="arapey-pronounced">(Ah-ra-pay)</span> is a contemporary modern typeface with <br> 
        some features of a Bodoni, but the structures,<br /> soft lines, and finishes leave a calm and distinguished feeling.
    </p>
  </article>

	{% include select.html handle:"about-arapey-select-controls" %} 

  <section class="about-arapey-content-interactive interactive-controls">
    <article class="about-arapey-content">
      <p contenteditable="" spellcheck="false" class="about-arapey-interactive-paragraph interactive-controls-text">Say hello to Arapey <br /> Write something</p>
    </article>

    <section class="interactive-controls-list-container">
      <ul class="interactive-controls-list">
        {% include tick-slider.html value: 100 labelStart: "Size" name: "font-size" min: 20 max: 120  badge: true %} 
        {% include tick-slider.html value: 50 labelStart: "Optical size" name: "opsz" min: 0 max: 100 badge: true  %} 
        
      </ul>
      {% include alignment.html handle:"about-arapey-alignment-controls" %}
    </section>
  </section>


  <article class="about-arapey-content about-arapey-content-detailed">
      <h1 class="about-arapey-title" contenteditable="" spellcheck="false">About Arapey</h1>
      <p class="prose-content" contenteditable="" spellcheck="false">
        Arapey (Ah-ra-pay) is a contemporary modern typeface with some features of a Bodoni, but the structures, soft lines,<br />
        and finishes leave a calm and distinguished feeling. The first sketches were made during a vacation in Arapey,<br />
        a small town the north of Uruguay. Arapey (Ah-ra-pay) is a contemporary modern typeface with some features of a<br />
        Bodoni, but the structures, soft lines, and finishes leave a calm and distinguished feeling. The first sketches<br />
        were made during a vacation in Arapey, a small town the north of Uruguay. Arapey (Ah-ra-pay) is a contemporary modern<br /> 
        typeface with some features of a Bodoni, but the structures, soft lines, and finishes leave a calm and distinguished<br />
        feeling. The first sketches were made during a vacation in Arapey, a small town the north of Uruguay.
        </p>
  </article>
</section>