<section class="about-arapey-container">
  <article class="about-arapey-content">
    <p class="prose-content" contenteditable="" spellcheck="false">
        Arapey <span class="arapey-pronounced">(Ah-ra-pay)</span> is a contemporary modern typeface with <br> 
        some features of a Bodoni, but the structures,<br /> soft lines, and finishes leave a calm and distinguished feeling.
    </p>
  </article>

  <article class="about-arapey-content">
      <h1 class="about-arapey-title" contenteditable="" spellcheck="false">About Arapey</h1>
      <p class="prose-content" contenteditable="" spellcheck="false">
        Arapey (Ah-ra-pay) is a contemporary modern typeface with some features of a Bodoni, but the structures, soft lines,<br />
        and finishes leave a calm and distinguished feeling. The first sketches were made during a vacation in Arapey,<br />
        a small town the north of Uruguay. Arapey (Ah-ra-pay) is a contemporary modern typeface with some features of a<br />
        Bodoni, but the structures, soft lines, and finishes leave a calm and distinguished feeling. The first sketches<br />
        were made during a vacation in Arapey, a small town the north of Uruguay. Arapey (Ah-ra-pay) is a contemporary modern<br /> 
        typeface with some features of a Bodoni, but the structures, soft lines, and finishes leave a calm and distinguished<br />
        feeling. The first sketches were made during a vacation in Arapey, a small town the north of Uruguay.
        </p>
  </article>
</section>