<ul class="interactive-controls-alignment" id="{{ id }}">
    <li class="alignment-item"><input class="alignment-input" type="radio" value="left" name="alignment" id="alignment-left" /><label class="alignment-label" for="alignment-left">left</label></li>
    <li class="alignment-item"><input class="alignment-input" type="radio" value="center" name="alignment" id="alignment-center" checked /><label class="alignment-label" for="alignment-center">center</label></li>
    <li class="alignment-item"><input class="alignment-input" type="radio" value="right" name="alignment" id="alignment-right" /><label class="alignment-label" for="alignment-right">right</label></li>
</ul>