<section class="arapey-hero am-i-in-view in-view">
	<a href="#download-section" class="get-arapey-button">
		Get<br />Arapey
		<span>{% includeWebpackAsset '../img/arrow_white_200313.svg' %}</span>
	</a>
	<a
		href="#download-section"
		class="get-arapey-button get-arapey-button-sticky"
	>
		Get<br />Arapey
		<span>{% includeWebpackAsset '../img/arrow_white_200313.svg' %}</span>
	</a>

	<h1 class="arapey-hero-title">
		<span>A</span>
		<span>r</span>
		<span>a</span>
		<span>p</span>
		<span>e</span>
		<span>y</span>
	</h1>
	<div class="arapey-hero-text">
		<h2>A variable typeface by Eduardo Rodríguez Tunni</h2>
		<p>Scroll down for more Arapey</p>
		{% includeWebpackAsset '../img/arrow_red_200313.svg' %}
	</div>
	<canvas class="arapey-hero-canvas"></canvas>
</section>
