<section class="design-features-section">
	<h1 class="arapey-title-green">Design Features of Arapey</h1>
	<div class="floating-letter-container">
		<span class="floating-letter a">
			{% includeWebpackAsset '../img/a.svg' %}
		</span>
		<span class="floating-letter d">
			{% includeWebpackAsset '../img/d.svg' %}
		</span>
		<span class="floating-letter g">
			{% includeWebpackAsset '../img/g.svg' %}
		</span>
		<span class="floating-letter m">
			{% includeWebpackAsset '../img/m.svg' %}
		</span>
		<span class="floating-letter r">
			{% includeWebpackAsset '../img/r.svg' %}
		</span>
		<span class="floating-letter u active">
			{% includeWebpackAsset '../img/u.svg' %}
		</span>
		<span class="floating-letter v">
			{% includeWebpackAsset '../img/v.svg' %}
		</span>
	</div>
</section>
