<section class="design-features-section">
    <h1 class="arapey-title-green">Design Features of Arapey</h1>
    <div class="floating-letter-container">
        <span class="floating-letter a">
            <span class="floating-letter-inside">
                  {% includeWebpackAsset '../img/a.svg' %}
            </span>
        </span>
        <span class="floating-letter d">
            <span class="floating-letter-inside">
                {% includeWebpackAsset '../img/d.svg' %}
            </span>
        </span>
        <span class="floating-letter g">
           <span class="floating-letter-inside">
                {% includeWebpackAsset '../img/g.svg' %}
           </span>
        </span>
        <span class="floating-letter m">
            <span class="floating-letter-inside">
                {% includeWebpackAsset '../img/m.svg' %}
            </span>
        </span>
        <span class="floating-letter r">
            <span class="floating-letter-inside">
                {% includeWebpackAsset '../img/r.svg' %}
            </span>
        </span>
        <span class="floating-letter u active">
            <span class="floating-letter-inside active">
                  {% includeWebpackAsset '../img/u.svg' %}
            </span>
        </span>
        <span class="floating-letter v">
            <span class="floating-letter-inside">
                {% includeWebpackAsset '../img/v.svg' %}
            </span>
        </span>

    </div>
</section>