<section class="arapey-styles-container" id="download-section">
	<h2 class="arapey-title-red">Download Arapey</h2>
	<div class="arapey-styles-list-container">
		<ul>
			<li>Styles</li>
			<li>Named styles</li>
			<li>Weights</li>
			<li>Weight range</li>
			<li>Optical Sizes</li>
		</ul>

		<ul>
			<li>Roman (& Italic coming soon)</li>
			<li>128 Thin, 128 Black</li>
			<li>
				Thin, Extralight, Light, Regular, Medium, Semibold, Bold,
				Extrabold, Black
			</li>
			<li>100 — 900</li>
			<li>12 — 128</li>
		</ul>
	</div>
	<a href="#" class="download-link">Download Arapey</a>
</section>
