<section class="arapey-styles-container" id="download-section">
	<h2 class="arapey-title-green">Arapey Styles</h2>
	<div class="arapey-styles-list-container">
		<ul>
			<li>With 2 styles</li>
			<li>9 Weights</li>
			<li>2 Display Options</li>
			<li>Weight range</li>
			<li>Optical Sizes</li>
		</ul>

		<ul>
			<li>Roman & Italic (available later)</li>
			<li>
				Thin, Extralight, Light, Regular, Medium, Semibold, Bold,
				Extrabold, Black
			</li>
			<li>Display Thin, Display Black</li>
			<li>100 — 900</li>
			<li>12 — 128</li>
		</ul>
	</div>
	<a href="#" class="download-link">Download Arapey</a>
</section>
