<section class="fonts-in-use-container">
    <section class="fonts-in-use">
        <div class="svg-container five-star-rating">
            {% includeWebpackAsset '../img/5-Star_200313.svg' %}
        </div>

        <div class="svg-container card">
            {% includeWebpackAsset '../img/card_200313.svg' %}
        </div>

        <div class="svg-container card-2">
            {% includeWebpackAsset '../img/card-2_200313.svg' %}
        </div>

        <div class="svg-container signs">
            {% includeWebpackAsset '../img/signs_200313.svg' %}
        </div>

        <div class="svg-container kids-menu">
            {% includeWebpackAsset '../img/kids-menu_200313.svg' %}
        </div>

        <div class="svg-container napkin">
            {% includeWebpackAsset '../img/napkin_200313.svg' %}
        </div>

        <div class="svg-container magazine">
            {% includeWebpackAsset '../img/magazine_200313.svg' %}
        </div>

        <div class="svg-container reserved">
            {% includeWebpackAsset '../img/reserved_200313.svg' %}
        </div>

        <div class="svg-container soap">
            {% includeWebpackAsset '../img/soap_200313.svg' %}
        </div>

        <div class="svg-container book">
            {% includeWebpackAsset '../img/book_200313.svg' %}
        </div>
    </section>
</section>