<div class="opsz-demo">
	<div class="opsz-slider-handle"></div>
	<div class="opsz-slider-window">
		<div class="with-opsz">
			<h3>
				With optical sizing
			</h3>
			<p class="opsz-large-with">
				Old railway bridge of Termas del Arapey
			</p>
			<p class="opsz-medium-with">
				The bridge was manufactured in Germany and its construction and assembly in Uruguay was under the
				supervision of engineer Juan T. Smith.
			</p>
			<p class="opsz-small">
				The North Western system consisted of 182 kilometres (113 mi) of standard gauge railway, extending from
				Salto, the terminus of the Midland Uruguay Railway, in a general northerly direction to Palomas,
				Cabellos, where connections were made with the Uruguay Northern Railway, and Cuareim, opposite Barra do
				Quaraí, Brazil. Salto is opposite Concordia, Argentina, an important railway center located on the Entre
				Rios and Argentine North Eastern Railway lines, and some traffic was interchanged. At Cuareim, an
				international bridge was constructed and a third rail laid for connections with the Brazil Great
				Southern Railway, which ran from Quarahim, Brazil, northward. The North Western operated triweekly
				passenger-train service in both directions between Salto and Quarahim. Connections could be made with
				trains for Uruguaiana, Itaquy, and other points in southern Brazil.[3] It served stations at Salto, Las
				Vinas, San Antonio, Stapevi, Palomas, Arapey, Santa Ana, Isla Cabellos, Zanja Honda, Santa Rosa, and
				Port Cuareim. Its major bridge traverses were over the Arapey Grande River, Lake Arapey, and Jacuy.
			</p>
		</div>
	</div>

	<div class="without-opsz">
		<h3>
			Without optical sizing
		</h3>
		<p class="opsz-large">Old railway bridge of Termas del Arapey</p>
		<p class="opsz-medium">
			The bridge was manufactured in Germany and its construction and assembly in Uruguay was under the
			supervision of engineer Juan T. Smith.
		</p>
		<p class="opsz-small">
			The North Western system consisted of 182 kilometres (113 mi) of standard gauge railway, extending from
			Salto, the terminus of the Midland Uruguay Railway, in a general northerly direction to Palomas, Cabellos,
			where connections were made with the Uruguay Northern Railway, and Cuareim, opposite Barra do Quaraí,
			Brazil. Salto is opposite Concordia, Argentina, an important railway center located on the Entre Rios and
			Argentine North Eastern Railway lines, and some traffic was interchanged. At Cuareim, an international
			bridge was constructed and a third rail laid for connections with the Brazil Great Southern Railway, which
			ran from Quarahim, Brazil, northward. The North Western operated triweekly passenger-train service in both
			directions between Salto and Quarahim. Connections could be made with trains for Uruguaiana, Itaquy, and
			other points in southern Brazil.[3] It served stations at Salto, Las Vinas, San Antonio, Stapevi, Palomas,
			Arapey, Santa Ana, Isla Cabellos, Zanja Honda, Santa Rosa, and Port Cuareim. Its major bridge traverses were
			over the Arapey Grande River, Lake Arapey, and Jacuy.
		</p>
	</div>
</div>