<div class="opsz-demo">
	<div class="opsz-slider-window">
		<div class="without-opsz">
			<h3>
				Without optical sizing
			</h3>
			<p class="opsz-large">Old railway bridge of Termas del Arapey</p>
			<p class="opsz-medium">
				The bridge was manufactured in Germany and its construction and
				assembly in Uruguay was under the supervision of engineer Juan
				T. Smith.
			</p>
			<p class="opsz-small">
				The North Western system consisted of 182 kilometres (113 mi) of
				standard gauge railway, extending from Salto, the terminus of
				the Midland Uruguay Railway, in a general northerly direction to
				Palomas, Cabellos, where connections were made with the Uruguay
				Northern Railway, and Cuareim, opposite Barra do Quaraí, Brazil.
			</p>
		</div>
	</div>

	<div class="with-opsz">
		<h3>
			With optical sizing
		</h3>
		<p class="opsz-large-with">
			Old railway bridge of Termas del Arapey
		</p>
		<p class="opsz-medium-with">
			The bridge was manufactured in Germany and its construction and
			assembly in Uruguay was under the supervision of engineer Juan T.
			Smith.
		</p>
		<p class="opsz-small-with">
			The North Western system consisted of 182 kilometres (113 mi) of
			standard gauge railway, extending from Salto, the terminus of the
			Midland Uruguay Railway, in a general northerly direction to
			Palomas, Cabellos, where connections were made with the Uruguay
			Northern Railway, and Cuareim, opposite Barra do Quaraí, Brazil.
		</p>
	</div>
</div>

<div class="opsz-demo-control"></div>
