<div class="interactive-controls-select-group">
    <button type="button" class="interactive-controls-select-handle" value="Regular">
        <span>Regular</span>
        <img class="icon icon-arrow" src="{% webpackAssetPath '../img/down-arrow.svg' %}" />
    </button>
    <ul class="interactive-controls-options-list">
        {% for instance in instances %}
        <li>
            <button value="{{instance.name}}" type="button" class="interactive-controls-option">{{ instance.name }}</button>
        </li>
        {% endfor %}
    </ul>
</div>