{% comment %} 
    Usage: 
		{% include tick-slider.html withInstances: instances %} 
		{% include tick-slider.html with labelStart: "start" labelEnd: "end"  %} 
		{% include tick-slider.html with labelStart: "start" labelEnd: "end" withInstances: instances %} 
{% endcomment %}

<li class="interactive-controls-list-item tick-list-item">
    {% if labelStart %}<span>{{ labelStart }}</span>{% endif %}
    <div class="interactive-controls-tick-slider-container">
		{% if badge %}<output class="interactive-controls-badge"></output>{% endif %}

        <input type="range" value="" name="{{ name }}" min="{{ min }}" max="{{ max }}" class="interactive-controls-slider interactive-controls-tick-slider {{ name }}">

            {% if withInstances %}
                <div class="ticks">
                    {% for instance in withInstances %}
                        <span class="tick">
                            <span>{{ instance.name }}</span>
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
    </div>
    {% if labelEnd %}<span>{{ labelEnd }}</span>{% endif %}
</li>