<section class="weather-section interactive-controls">
    <article class="weather-content-container">
        <div class="weather-text-container">
            <small>Arapey Weather</small>
            <span class="temperature interactive-controls-text">33 C</span>
        </div>
        <ul class="interactive-controls-list">
            {% include tick-slider.html name: "temperature-slider" labels: weight-instances labelStart: "10C" labelEnd: "50C" min: 100 max: 900 badge: true %}
            
        </ul>
    </article>

    <article class="weather-content-container">
        <div class="weather-text-container">
            <span class="wind interactive-controls-text">Wind N. at 24 km/h 52% Humidity</span>
        </div>
		<ul class="interactive-controls-list">
            {% include tick-slider.html labels: weight-instances labelStart: "10C" labelEnd: "50C" name: "wind-slider" min: 100 max: 900 badge: true %}
        </ul>
    </article>

    <article class="weather-content-container">
        <div class="weather-text-container">
            <small>Local time</small>
            <time class="time interactive-controls-text">Wednesday 01:20</time>
        </div>
		<ul class="interactive-controls-list">
            {% include tick-slider.html labels: weight-instances labelStart: "10C" labelEnd: "50C" name: "time-slider" min: 100 max: 900 badge: true %}
        </ul>
    </article>
</section>