<section class="arapey-zzzz">
	<canvas class="arapey-zzzz-canvas"></canvas>
	<div class="arapey-zzzz-shadow"></div>
	<footer>
		<div>
			<strong>Arapey</strong>
			<p>By Eduardo Tunni</p>
			<p>
				Website by
				<a href="https://kabisa.nl" rel="noopener" target="_blank"
					>Kabisa</a
				>, design by
				<a
					href="https://bureaudonald.com/"
					rel="noopener"
					target="_blank"
					>Bureaudonald</a
				>
			</p>
			<p>
				Thanks to the teams at Google Design and Google Fonts for their
				support.
			</p>
		</div>
	</footer>
</section>
