.interactive-controls-alignment {
	display: flex;
}

.alignment-item + .alignment-item {
	margin-left: 0.5rem;
}

.alignment-item:hover svg {
	fill: var(--arapey-red);
	transition: fill 200ms;
}

.alignment-input:checked + label svg {
	fill: var(--arapey-red);
}

.about-arapey-content-interactive .interactive-controls-alignment {
	align-items: center;
	padding-top: 2.5rem;
	margin-left: 1rem;
}

@media screen and (max-width: 34em) {
	.about-arapey-content-interactive .interactive-controls-list-container {
		flex-direction: column-reverse;
		align-content: center;
	}

	.interactive-controls-alignment {
		justify-content: center;
		padding-top: 0;
	}
}
