.interactive-controls-alignment {
	display: flex;
}

.alignment-item + .alignment-item {
	margin-left: 0.5rem;
}

.alignment-item:hover svg {
	fill: var(--arapey-red);
	transition: fill 200ms;
}

.alignment-input:checked + label svg {
	fill: var(--arapey-red);
}

.about-arapey-content-interactive .interactive-controls-alignment {
	align-items: center;
	padding-top: 2.5rem;
	margin-left: 1rem;
}
