.interactive-controls-select-handle {
	font-weight: var(--weight-semi-bold);
	font-size: 1.125rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: color 0.5s;
}

.interactive-controls-select-handle,
.interactive-controls-option {
	padding: 0 2.5rem;
	cursor: pointer;
}

.interactive-controls-select-handle:hover {
	color: var(--arapey-red);
}

.interactive-controls-options-list {
	background-color: var(--arapey-light-gray-transparent);
	padding: 1rem 0;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 100; /* Needs to be absolutely above everything */
}

.interactive-controls-options-list li {
	padding-bottom: 0.5rem;
}

.interactive-controls-options-list.show {
	display: block;
}

.interactive-controls-option {
	font-weight: var(--weight-regular);
	font-size: 1rem;
	margin-bottom: 0.75rem;
	background-color: transparent;
	width: 100%;
	text-align: left;
	transition: color 0.5s;
}

.interactive-controls-option.active {
	color: var(--arapey-red);
}

.interactive-controls-options-list li:hover .interactive-controls-option {
	color: var(--arapey-red);
}

.interactive-controls-select-group {
	max-width: 14rem;
	position: relative;
	flex: auto;
}

.interactive-controls-select-group * {
	font-family: inherit;
}
