[type="range"],
[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
}

[type="range"] {
	outline: 0;
}

.interactive-controls-list label {
	--label-width: 4.5rem;

	font-weight: var(--weight-bold);
	font-size: 1.25rem;
}

.interactive-controls-slider {
	height: 0.2rem;
	outline: 0;
	width: 10rem;
}

/* Handle and color variants */
.interactive-controls-slider::-webkit-slider-thumb {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
}

.interactive-controls-slider[data-color="dark-blue-red"] {
	background-color: var(--arapey-dark-blue);
}

.interactive-controls-slider[data-color="dark-blue-red"]::-webkit-slider-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="blue-red"] {
	background-color: var(--arapey-blue);
}

.interactive-controls-slider[data-color="blue-red"]::-webkit-slider-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="blue-purple"] {
	background-color: var(--arapey-blue);
}

.interactive-controls-slider[data-color="blue-purple"]::-webkit-slider-thumb {
	background-color: var(--arapey-purple);
}

/* Tick sliders */

.interactive-controls-tick-slider-container {
	max-width: 1400px;
}

.tick-list-item {
	display: flex;

	/* To remove */
	justify-content: center;
	margin: 4rem auto;
}

.tick-list-item > div {
	width: 100%;
	padding: 0 1rem;
}

.tick-list-item span {
	font-weight: var(--weight-bold);
}

.tick-list-item > span {
	margin-top: 0.15rem;
	font-size: 1.25rem;
}

.interactive-controls-tick-slider {
	background-color: var(--arapey-dark-blue);
	height: 1px;
	width: 100%;
	margin: 0;
}

.interactive-controls-tick-slider::-webkit-slider-thumb {
	background-color: var(--arapey-red);
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
}

.interactive-controls-tick-sliders li {
	max-width: 1400px;
	margin: 0 auto;
}

.ticks {
	display: flex;
	justify-content: space-between;
}

.tick {
	display: flex;
	justify-content: center;
	width: 1px;
	height: 10px;
	background: gray;
	margin-top: 0.5rem;
	font-size: 1.25rem;
}

.tick span {
	margin-top: 1rem;
	white-space: nowrap;
}
