[type="range"],
[type="range"]::-webkit-slider-thumb {
	--thumb-size: 1rem;

	-webkit-appearance: none;
	cursor: pointer;
}

[type="range"]:focus {
	outline: none;
}

[type="range"]::-ms-tooltip {
	display: none;
}

[type="range"]::-webkit-slider-thumb {
	margin-top: -0.5em;
}

[type="range"]::-webkit-slider-runnable-track {
	height: 0.2em;
	outline: 0;
	width: 10rem;
}
[type="range"][data-color="dark-blue-red"]::-webkit-slider-runnable-track {
	background-color: var(--arapey-dark-blue);
}
[type="range"][data-color="blue-red"]::-webkit-slider-runnable-track {
	background-color: var(--arapey-blue);
}

[type="range"][data-color="dark-blue-red"]::-moz-range-track {
	background-color: var(--arapey-dark-blue);
}
[type="range"][data-color="blue-red"]::-moz-range-track {
	background-color: var(--arapey-blue);
}

[type="range"]::-ms-track {
	border: none;
	height: 0.2em;
	width: 10rem;
}
[type="range"][data-color="dark-blue-red"]::-ms-track {
	background-color: var(--arapey-dark-blue);
}
[type="range"][data-color="blue-red"]::-ms-track {
	background-color: var(--arapey-blue);
}

.interactive-controls-list label {
	--label-width: 4.5rem;

	font-weight: var(--weight-bold);
	font-size: 1.25rem;
}

/* Handle and color variants */
.interactive-controls-slider::-webkit-slider-thumb {
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	border: none;
}

[type="range"]::-moz-range-thumb {
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	border: 0;
}

[type="range"]::-ms-thumb {
	width: var(--thumb-size);
	height: var(--thumb-size);
	margin-top: 0;
}

.interactive-controls-slider[data-color="dark-blue-red"]::-webkit-slider-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="dark-blue-red"]::-moz-range-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="dark-blue-red"]::-ms-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="blue-red"]::-webkit-slider-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="blue-red"]::-moz-range-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="blue-red"]::-ms-thumb {
	background-color: var(--arapey-red);
}

.interactive-controls-slider[data-color="blue-purple"]::-webkit-slider-thumb {
	background-color: var(--arapey-purple);
}

.interactive-controls-slider[data-color="blue-purple"]::-moz-range-thumb {
	background-color: var(--arapey-purple);
}

.interactive-controls-slider[data-color="blue-purple"]::-ms-thumb {
	background-color: var(--arapey-purple);
}

.about-arapey-content-interactive .interactive-controls-list {
	min-width: 800px;
}

/*
 *
 * Tick sliders
 *
 */

.interactive-controls-tick-slider-container {
	max-width: 1000px;
}

.tick-list-item {
	display: flex;
}

.tick-list-item > div {
	width: 100%;
	padding: 0 1rem;
}

.tick-list-item span {
	font-weight: var(--weight-bold);
	text-align: right;
}

.tick-list-item > span {
	margin-top: 0.15rem;
	font-size: 1.25rem;
}

.interactive-controls-tick-slider {
	background-color: var(--arapey-dark-blue);
	height: 1px;
	width: 100%;
	margin: 0;
}

.interactive-controls-tick-slider::-webkit-slider-thumb {
	background-color: var(--arapey-red);
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	border: none;
}

.interactive-controls-tick-slider::-moz-range-thumb {
	background-color: var(--arapey-red);
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
}

.interactive-controls-tick-slider::-ms-thumb {
	background-color: var(--arapey-red);
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
}

.interactive-controls-tick-sliders li {
	max-width: 1400px;
	margin: 0 auto;
}

.ticks {
	display: flex;
	justify-content: space-between;
}

.tick {
	display: flex;
	justify-content: center;
	width: 1px;
	height: 10px;
	background: gray;
	margin-top: 0.5rem;
	font-size: 1.25rem;
}

.tick span {
	margin-top: 1rem;
	white-space: nowrap;
	font-size: 1rem;
}
