input[type="checkbox"] {
	display: none;
}

/* The frame of the toggle */
.interactive-controls-toggle {
	--label-width: 2rem;

	border-radius: 2rem;
	border-style: solid;
	border-width: 3px;
	display: block;
	width: 43px;
	height: 24px;
	position: relative;
	cursor: pointer;
	transition: transform 0.4s ease;
}

/* The toggle button circle */
.interactive-controls-toggle::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2rem;
	width: 19px;
	height: 100%;
	display: block;
	transition-property: left, width, transform;
	transition-duration: 0.3s;
}

/* on press */
.interactive-controls-toggle:active::after {
	width: 26px;
}

/* When pressed "on" */
.interactive-controls-checkbox:checked + .interactive-controls-toggle::after {
	left: 100%;
	transform: translateX(-100%);
}

.interactive-controls-toggle.white-red {
	background-color: var(--arapey-white);
	border-color: var(--arapey-white);
}

.interactive-controls-toggle.white-red::after {
	background-color: var(--arapey-red);
}

.interactive-controls-toggle.white-black {
	background-color: var(--arapey-white);
	border-color: var(--arapey-white);
}

.interactive-controls-toggle.white-black::after {
	background-color: var(--arapey-black);
}

.interactive-controls-toggle.red-black {
	background-color: var(--arapey-red);
	border-color: var(--arapey-red);
}

.interactive-controls-toggle.red-black::after {
	background-color: var(--arapey-black);
}
