.about-arapey-content-interactive .interactive-controls-list-container {
	max-width: var(--max-prose-content-width);
	margin: 0 auto;
}

.about-arapey-container {
	--wght: var(--weight-regular);

	margin: 16rem auto;
	padding: 2rem;
}

.about-arapey-content {
	font-size: 1.5rem;
	line-height: 1.5;
	max-width: var(--max-prose-content-width);
	margin: 0 auto 16rem auto;
}

.about-arapey-content-large {
	font-size: 1.75rem;
	line-height: 1.5;
}

.about-arapey-content-small {
	font-size: 1.35rem;
	line-height: 1.5;
}

.about-arapey-content h2 {
	text-align: center;
}

.arapey-pronounced {
	color: var(--arapey-red);
}

.about-arapey-content-interactive {
	--font-size: 0;
}

.about-arapey-content-interactive .interactive-controls-select-group {
	margin: 0 auto;
}

.about-arapey-content-interactive .interactive-controls-list {
	max-width: var(--max-prose-content-width);
}

.about-arapey-interactive-paragraph {
	max-width: var(--max-content-width);
	font-weight: var(--wght);
	color: var(--arapey-red);
	transition: font-weight 200ms;
	margin: 0 auto;
	min-height: 33rem; /* Match default text at larhest size/weight */
	max-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-align: center;
}

@media screen and (max-width: 64em) {
	.about-arapey-interactive-paragraph.interactive-controls-text {
		font-size: calc(var(--font-size) * 0.2vw);
	}
}
