.about-arapey-container {
	margin: 5rem 0;
}

.about-arapey-content {
	text-align: center;
}

.about-arapey-content .prose-content {
	font-size: 2.5rem;
	font-weight: var(--weight-regular);
	line-height: 1.35;
}

.arapey-pronounced {
	color: var(--arapey-red);
}

.about-arapey-title {
	color: var(--arapey-red);
	font-size: 4.5rem;
	font-weight: var(--weight-thin);
	margin-bottom: 0;
}

.about-arapey-title + .prose-content {
	margin-top: 1rem;
}

.about-arapey-content + .about-arapey-content .prose-content {
	font-size: 1.5rem;
}
