.about-arapey-container {
	--wght: var(--weight-regular);

	margin: 5rem 0;
}

.about-arapey-container article {
	margin-top: 8rem;
	margin-bottom: 11rem;
}

@media screen and (max-width: 45em) {
	.about-arapey-container {
		padding: 1rem;
		margin-bottom: 1rem;
	}

	.about-arapey-container .interactive-controls-list {
		padding: 0;
	}

	.about-arapey-container article {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}

.about-arapey-content {
	text-align: center;
	font-weight: var(--weight-regular);
	max-width: var(--max-prose-content-width);
	margin: 0 auto;
	min-height: 225px;
}

@media screen and (max-width: 34em) {
	.about-arapey-content {
		text-align: center;
		font-weight: var(--weight-regular);
		max-width: var(--max-prose-content-width);
		margin: 0 auto;
		min-height: 400px;
	}
}

.about-arapey-content-large {
	font-size: 1.75rem;
	line-height: 1.5;
}

.about-arapey-content-small {
	font-size: 1.35rem;
	line-height: 1.5;
}

.about-arapey-title {
	--opsz: 128;

	color: var(--arapey-red);
	font-size: 4rem;
	font-weight: var(--weight-bold);
	margin-bottom: 2rem;
}

.arapey-pronounced {
	color: var(--arapey-red);
}

.about-arapey-content-interactive {
	--text-alignment: center;
	--font-size: 0;
}

.about-arapey-content-interactive .interactive-controls-select-group {
	margin: 0 auto;
}

.about-arapey-content-interactive .interactive-controls-list {
	max-width: var(--max-prose-content-width);
}

.about-arapey-interactive-paragraph {
	text-align: var(--text-alignment);
	font-weight: var(--wght);
	color: var(--arapey-red);
	transition: font-weight 200ms;
}

@media screen and (max-width: 64em) {
	.about-arapey-content-interactive .interactive-controls-list-container {
		padding: 1rem;
		padding-right: 2.25rem;
	}

	.label-text {
		white-space: normal;
		min-width: 4.5em;
		padding-right: 1.75rem;
	}
}
