.about-variable-fonts-section {
	margin-top: 4rem;
}
@media screen and (max-width: 45em) {
	.about-variable-fonts-section {
		margin-top: 0;
	}
	.arapey-title-blue {
		margin-top: 0;
	}
}

.about-variable-fonts-container {
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: center;
	padding: 2rem;
	max-width: var(--max-prose-content-width);
	margin: 0 auto;
}

.about-variable-fonts-container h1 {
	margin-bottom: 0;
	color: var(--arapey-blue);
}

.about-variable-fonts-container p {
	margin-bottom: 2.5rem;
}

.character-slider {
	--opsz-slider: 128;

	position: relative;
	width: 70vw;
	max-width: var(--max-content-width);
	margin: 0 auto;
	font-size: 30vw;

	/* Trickery to prevent full line height from
	   making this a huge element */
	line-height: 0.5;
	padding-bottom: 8vw;
}

.character-slider .character {
	--character-pos-x: 50%;

	position: absolute;
	top: 0;
	left: var(--character-pos-x);
	transform: translateX(-50%);
	user-select: none;
	font-weight: var(--wght-slider);
	font-variation-settings: "opsz" var(--opsz-slider);
	cursor: url("../img/drag_arrow_blue_200313.svg") 25 0, auto;
	z-index: 2;
}

.character-outline-container {
	display: flex;
	justify-content: space-between;
	user-select: none;
}

.character-outline {
	font-variation-settings: "opsz" var(--opsz-slider);
	color: var(--arapey-light-gray);
}

.character-outline.thin {
	font-weight: 100;
	transform: translateX(-50%);
}

.character-outline.fat {
	font-weight: 900;
	transform: translateX(50%);
}

.about-variable-fonts-interactive {
	max-width: var(--max-prose-content-width);
	margin: 0 auto;
}

.code-container {
	background-color: var(--arapey-gray);
	margin-top: 4rem;
	padding: 1.5rem;
}

.code-container code {
	font-size: 1.25rem;
	line-height: 1.5;
}

code .property {
	margin-left: 2em;
	color: var(--arapey-blue);
}

code .int-value {
	color: var(--arapey-red);
}

code .string-value {
	color: var(--arapey-green);
}
