/*
	Stylelint messes up with the .nth-child spans, so
	we disable that specific rule:
*/

/* stylelint-disable no-descending-specificity */

.arapey-hero {
	height: 90vh;
	position: relative;
}

.arapey-hero-title {
	--opsz: 128;

	position: absolute;
	z-index: 2;
	top: 45%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	font-size: 25vw;
	margin: 0;
	display: flex;
	justify-content: center;
	color: var(--arapey-red);
	line-height: 0.8; /* Prevent hover-area from growing too large */
}

.arapey-hero-title span:nth-child(1) {
	font-weight: 900;
}
.arapey-hero-title span:nth-child(2) {
	font-weight: 740;
}
.arapey-hero-title span:nth-child(3) {
	font-weight: 580;
}
.arapey-hero-title span:nth-child(4) {
	font-weight: 420;
}
.arapey-hero-title span:nth-child(5) {
	font-weight: 260;
}
.arapey-hero-title span:nth-child(6) {
	font-weight: 100;
}

.arapey-hero-text {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2rem 0;
	text-align: center;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)
	);
}

.arapey-hero-text h2 {
	font-weight: var(--weight-light);
}

.arapey-hero-text span {
	font-size: 1.25rem;
	font-weight: var(--weight-light);
	color: var(--arapey-red);
}

.arapey-hero-canvas {
	pointer-events: none;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.faux-placeholder-button {
	width: 10rem;
	height: 10rem;
	background: var(--arapey-green);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 10;
	text-align: center;
	border-radius: 50%;
	font-size: 2rem;
	line-height: 1;
}

.faux-placeholder-button span {
	display: block;
	padding-top: 0.5rem;
	margin-bottom: -0.5rem;
}

.faux-placeholder-button.stick {
	position: fixed;
	transform: translate(0, -100%);
	animation-name: stick;
	animation-duration: 0.75s;
}

.faux-placeholder-button.animate-in {
	transform: translate(-400%, -25%) rotate(-15deg) scale(0.65);
}

.faux-placeholder-button.animate-out {
}

@keyframes stick {
	0% {
		transform: translate(-50%, -150%);
	}
	50% {
		transform: translate(-50%, 0);
	}
	100% {
		transform: translate(-400%, -25%) rotate(-15deg) scale(0.65);
	}
}
