/*
	Stylelint messes up with the .nth-child spans, so
	we disable that specific rule:
*/

/* stylelint-disable no-descending-specificity */

.arapey-hero {
	height: 90vh;
	background: #eee;
	position: relative;
}

.arapey-hero-title {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	font-size: 25vw;
	margin: 0;
	display: flex;
	justify-content: center;
	color: var(--arapey-red);
}

.arapey-hero-title span:nth-child(1) {
	font-weight: 900;
}
.arapey-hero-title span:nth-child(2) {
	font-weight: 740;
}
.arapey-hero-title span:nth-child(3) {
	font-weight: 580;
}
.arapey-hero-title span:nth-child(4) {
	font-weight: 420;
}
.arapey-hero-title span:nth-child(5) {
	font-weight: 260;
}
.arapey-hero-title span:nth-child(6) {
	font-weight: 100;
}

.arapey-hero-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2rem 0;
	text-align: center;
}

.arapey-hero-text h2 {
	font-weight: var(--weight-light);
}

.arapey-hero-text span {
	font-weight: var(--weight-light);
	color: var(--arapey-red);
}
