.character-slide-section {
	--wght: var(--weight-regular);

	margin: 0 auto;
	margin-top: 5rem;
	user-select: none;
}

.character-slide-list-container {
	overflow-x: hidden;
	cursor: grab;
}

.character-slide-list-container.active {
	cursor: grabbing;
}

.character-slide-list {
	display: none;
	margin: 0;
	font-weight: var(--wght);
	transition: font-weight 200ms;
	font-size: 26rem;
}

.character-slide-list.active {
	display: block;
}

.caps-switch-list {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.caps-switch-list button {
	font-size: 1.25rem;
	font-weight: var(--weight-semi-bold);
	cursor: pointer;
	transition: 400ms color;
}

.caps-switch-list button:hover,
.caps-switch-list button.active {
	color: var(--arapey-green);
}

.caps-switch-list li::after {
	content: "|";
	margin-right: 0.25rem;
}

.caps-switch-list li:last-child::after {
	content: "";
}
