:root {
	--character-grid-cell: 4.5rem;
	--character-grid-font-size: 2rem;
	--character-grid-gap: 1rem;
	--weight-grid-slider: 58;
}

.character-grid-section {
	max-width: var(--max-content-width);
	margin: 0 auto;
}

.character-grid-inner-container {
	display: flex;
}

.character-grid {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--character-grid-cell));
	font-size: var(--character-grid-font-size);
	flex: 1; /* We don't want both of the elements to take in the space they need.  */
	min-height: 600px;
	height: 46rem;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
}

.character-grid-item {
	width: var(--character-grid-cell);
	height: var(--character-grid-cell);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.character-grid-item::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: var(--character-grid-cell);
	height: var(--character-grid-cell);
	border-radius: 50%;
	opacity: 0;
	transform: scale(0.8);
	background-color: var(--arapey-red);
	transition: transform 100ms, opacity 300ms;
}

.character-grid-item.active {
	color: var(--arapey-white);
}

.character-grid-item.active::before {
	transform: scale(1);
	opacity: 1;
}

.character-grid-zoom {
	font-size: 35vw;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-variation-settings: "wght" var(--weight-grid-slider);
}

.interactive-controls-tick-slider-container {
	position: relative;
}

.character-grid-section .interactive-controls-list {
	margin: 4rem auto 10rem auto;
}
