:root {
	--character-grid-cell: 4.5rem;
	--character-grid-font-size: 2rem;
	--character-grid-gap: 1rem;
	--weight-grid-slider: 58;
}

.character-grid-section {
	max-width: var(--max-content-width);
	margin: 16rem auto;
	padding: 0 2rem;
}

.character-grid-inner-container {
	display: flex;
	min-height: 32rem;
	height: 50vh;
	margin-bottom: 6rem;
}

.character-grid {
	width: 50%;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--character-grid-cell));
	font-size: var(--character-grid-font-size);
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
}

.character-grid::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

.character-grid::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--arapey-red);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.character-grid-item {
	width: var(--character-grid-cell);
	height: var(--character-grid-cell);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.character-grid-item::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: var(--character-grid-cell);
	height: var(--character-grid-cell);
	border-radius: 50%;
	opacity: 0;
	transform: scale(0.8);
	background-color: var(--arapey-red);
	transition: transform 100ms, opacity 300ms;
}

.character-grid-item.active {
	color: var(--arapey-white);
}

.character-grid-item.active::before {
	transform: scale(1);
	opacity: 1;
}

.character-grid-zoom {
	width: 50%;
	font-size: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-variation-settings: "wght" var(--weight-grid-slider);
}

@media screen and (max-width: 45em) {
	.character-grid-inner-container {
		flex-direction: column-reverse;
	}

	.character-grid,
	.character-grid-zoom {
		width: 100%;
	}

	.character-grid-zoom {
		font-size: 60vw;
		padding-bottom: 3rem;
	}
}
