:root {
	--character-grid-cell: 4.5rem;
	--character-grid-font-size: 2rem;
	--character-grid-gap: 1rem;
	--weight-grid-slider: 58;
	--badge-position-x: 0;
}

.character-grid-inner-container {
	display: flex;
}

.character-grid-section {
	padding: 2rem;
}

.character-grid {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--character-grid-cell), 1fr)
	);
	column-gap: var(--character-grid-gap);
	row-gap: var(--character-grid-gap);
	font-size: var(--character-grid-font-size);
	flex: 1; /* We don't want both of the elements to take in the space they need.  */
	min-height: 600px;
	max-height: 45vw;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1.75rem 0; /* Prevent cut-off hover. */
}

.character-grid-item {
	width: var(--character-grid-cell);
	height: var(--character-grid-cell);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}

.character-grid-item::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: var(--character-grid-cell);
	height: var(--character-grid-cell);
	border-radius: 50%;
	opacity: 0;
	transform: scale(0.8);
	background-color: var(--arapey-red);
	transition: transform 100ms, opacity 300ms;
}

.character-grid-item:hover {
	position: relative;
	z-index: 1;
}

.character-grid-item:hover::before {
	transform: scale(1);
	opacity: 1;
}

.character-grid-zoom {
	font-size: 35vw;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-variation-settings: "wght" var(--weight-grid-slider);
}

.character-grid-item.active {
	background-color: var(--arapey-red);
}

.interactive-controls-tick-slider-container {
	position: relative;
}

.character-grid-section .interactive-controls-tick-slider-container {
	margin: 0 auto;
	margin-top: 4rem;
}

.interactive-controls-badge {
	position: absolute;
	top: -60px;
	transform: translateX(var(--badge-position-x));
	color: var(--arapey-red);
	font-size: 2rem;
	font-weight: var(--weight-regular);
	padding: 0.5rem 1.25rem 0.25rem;
	background-color: var(--arapey-light-gray);
}

.interactive-controls-badge::after {
	position: absolute;
	bottom: -9px;
	left: 0;
	content: "";
	border-left: 42px solid transparent;
	border-top: 10px solid var(--arapey-light-gray);
	border-right: 42px solid transparent;
}
