.character-slide-section {
	--wght: var(--weight-regular);

	margin: 10rem auto;
	user-select: none;
}

@media screen and (max-width: 45em) {
	.character-slide-section {
		margin: 2.5rem auto;
	}
}

.character-slide-lists {
	overflow-x: hidden;
	cursor: url("../img/drag_arrow_green_200313.svg") 25 0, auto;
}

.character-slide-lists.active {
	cursor: url("../img/drag_arrow_green_200313.svg") 25 0, auto;
}

.character-slide-list {
	display: none;
	margin: 0;
	font-weight: var(--wght);
	transition: font-weight 200ms;
	font-size: 40vw;
	white-space: nowrap;
	z-index: 2;
}

.character-slide-list.active {
	display: block;
}

.character-slide-section-controls {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 45em) {
	.character-slide-section-controls {
		flex-direction: column;
		align-content: center;
	}
	.character-slide-section-controls .interactive-controls-select-group {
		margin: auto;
		margin-bottom: 0.5rem;
	}
}

.slider-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
}

.slider-selector button {
	font-size: 1.25rem;
	font-weight: var(--weight-semi-bold);
	cursor: pointer;
	transition: 400ms color;
}

.slider-selector button:hover,
.slider-selector button.active {
	color: var(--arapey-green);
}
