.design-features-section {
	max-width: var(--max-content-width);
	margin: 0 auto;
	min-height: 50vh;
}

.design-features-section .arapey-title-green {
	text-align: center;
}

.floating-letter-container {
	position: relative;
	min-height: inherit;
	margin-top: 4.5rem;
	margin-bottom: 1rem;
	transform: scale(0.75);
}

.floating-letter {
	position: absolute;
	top: 50%;
	left: 50%;
	user-select: none;
	cursor: pointer;
	animation-duration: 5.5s;
	animation-name: float;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	transition: left 1s, top 1s;
}

.floating-letter.a {
	--x: -10%;
	--y: -20%;

	left: var(--x);
	top: var(--y);
}
.floating-letter.d {
	--x: -10%;
	--y: 50%;

	left: var(--x);
	top: var(--y);
}

.floating-letter.g {
	--x: 23%;
	--y: -27%;

	left: var(--x);
	top: var(--y);
	animation-delay: 0.4s;
	animation-duration: 3s;
}

.floating-letter.m {
	--x: 80%;
	--y: -6%;

	left: var(--x);
	top: var(--y);
	animation-delay: 0.6s;
	animation-duration: 8s;
}

.floating-letter.r {
	--x: 6%;
	--y: 101%;

	left: var(--x);
	top: var(--y);
	animation-delay: 0.8s;
	animation-duration: 9s;
}

.floating-letter.u {
	--x: 74%;
	--y: 48%;

	left: var(--x);
	top: var(--y);
	animation-delay: 0.8s;
}

.floating-letter.v {
	--x: 66%;
	--y: 94%;

	left: var(--x);
	top: var(--y);
	animation-delay: 0.8s;
}

.floating-letter.active {
	--x: calc(50% - 170px);
	--y: calc(50% + 50px);

	left: var(--x);
	top: var(--y);
	transition: left 1s, top 1s;
}

.floating-letter-inside {
	display: block;
	pointer-events: none;
	transform: scale(1);
	transition: transform 1s;
}

.floating-letter-inside.active {
	transform: scale(1.5);
}

.floating-letter.g.active {
	/* Make the "G" centered! */
	--x: calc(50% - 200px);
	--y: calc(50% - 120px);

	left: var(--x);
	top: var(--y);
}

.floating-letter svg {
	width: 20vw;
	height: 20vh;
}

.floating-letter.g svg {
	width: 30vw;
	height: 30vh;
}

.floating-letter.m svg {
	width: 20vw;
	height: 20vh;
}

.floating-letter.u svg {
	width: 23vw;
	height: 23vh;
}

@media screen and (max-width: 70em) {
	.floating-letter svg {
		width: 17vw;
		height: 17vh;
	}

	.floating-letter.a {
		--x: 3%;
		--y: -20%;

		left: var(--x);
		top: var(--y);
	}
	.floating-letter.d {
		--x: 38%;
		--y: 72%;

		left: var(--x);
		top: var(--y);
	}

	.floating-letter.g {
		--x: 43%;
		--y: -27%;

		left: var(--x);
		top: var(--y);
	}

	.floating-letter.m {
		--x: 80%;
		--y: -16%;

		left: var(--x);
		top: var(--y);
	}

	.floating-letter.r {
		--x: 6%;
		--y: 68%;

		left: var(--x);
		top: var(--y);
	}

	.floating-letter.u {
		--x: 78%;
		--y: 27%;

		left: var(--x);
		top: var(--y);
	}

	.floating-letter.v {
		--x: 67%;
		--y: 55%;

		left: var(--x);
		top: var(--y);
	}

	.floating-letter.active {
		--x: calc(50% - 150px);
		--y: calc(50% - 100px);

		animation-delay: 0s;
		left: var(--x);
		top: var(--y);
	}

	.floating-letter.g.active {
		/* Make the "G" centered! */
		--x: calc(50% - 150px);
		--y: calc(50% - 200px);

		left: var(--x);
		top: var(--y);
	}

	.floating-letter.g svg {
		width: 20vw;
		height: 20vh;
	}

	.floating-letter.u svg {
		width: 15vw;
		height: 15vh;
	}
}

@keyframes float {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(16px, 0);
	}
	50% {
		transform: translate(0, 16px);
	}
	75% {
		transform: translate(10px, 10px);
	}
}
