.arapey-styles-container {
	max-width: var(--max-prose-content-width);
	margin: 10rem auto;
}

.arapey-styles-container h2 {
	margin-bottom: 1rem;
}

.arapey-styles-list-container {
	display: flex;
	font-size: 1.25rem;
}

.arapey-styles-container ul {
	font-weight: var(--weight-regular);
}

.arapey-styles-container li {
	margin-bottom: 0.5em;
}

.arapey-styles-container ul + ul {
	font-weight: var(--weight-bold);
	margin-left: 3.5rem;
}

.download-link {
	display: inline-block;
	text-align: center;
	padding: 0.5em 1em;
	font-size: 2rem;
	background: var(--arapey-red);
	color: var(--arapey-white);
	text-decoration: none;
	border-radius: 3px;
	font-weight: var(--weight-medium);
}

.download-link:hover {
	text-decoration: underline;
}
@media screen and (max-width: 45em) {
	.arapey-styles-container {
		padding: 2rem;
	}

	.arapey-styles-list-container {
		font-size: 1rem;
	}
}
