@font-face {
	font-family: "Arapey";
	src: url("../fonts/ArapeyVF.woff2");
	font-weight: 100 900;

	/* Not very useful on a specimen site, and it's effects are negated
	   by FFO, but we'd like a perfect perf score :-) */
	font-display: swap;
}

body {
	font-family: "Arapey", monospace;
}

:root {
	--wght: 400;
	--opsz: 12;
}

*,
*::before,
*::after {
	font-variation-settings: "opsz" var(--opsz);
}
