@font-face {
	font-family: "Arapey";
	src: url("../fonts/Arapey[opsz,wght].ttf");
	font-weight: 30 var(--weight-black-display);
}

body {
	font-family: "Arapey", monospace;
}

:root {
	--wght: 72;
	--opsz: 12;
}

*,
*::before,
*::after {
	font-variation-settings: "opsz" var(--opsz);
}
