.opsz-demo-container {
	--offset: 50%;
	--width: 960px; /* Line up with prose content */
}

.opsz-demo {
	/* Simulate .prose */
	--opsz: 12;

	font-weight: 300;
	line-height: 1.25;
	position: relative;
	margin: 16rem auto;
	width: var(--width);
	user-select: none;
	font-optical-sizing: none;
	cursor: url("../img/drag_arrow_blue_200313.svg") 25 0, auto;
}

.opsz-demo p {
	/* Simulate .prose */
	margin: 0 0 3rem 0;
}

.with-opsz,
.without-opsz {
	padding-top: 1rem;
	width: var(--width);
}

.opsz-demo h3 {
	font-size: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	color: var(--arapey-blue);
	justify-content: flex-end;
}

.without-opsz h3 {
	justify-content: flex-start;
}

.with-opsz {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.without-opsz {
	--opsz: 12;

	background: var(--arapey-white);
}

.opsz-slider-window {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: var(--offset);
	border-right: 1px solid var(--arapey-blue);
}

.opsz-small {
	font-size: 1.75rem;
}

.opsz-small-with {
	--opsz: 28;

	font-size: 1.75rem;
}

.opsz-medium {
	font-size: 2.5rem;
}

.opsz-medium-with {
	--opsz: 40;

	font-size: 2.5rem;
}

.opsz-large {
	font-size: 5rem;
}

.opsz-large-with {
	--opsz: 80;

	font-size: 5rem;
}

@media screen and (max-width: 28rem) {
	.with-opsz,
	.without-opsz {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.opsz-demo h3 {
		flex-direction: column-reverse;
	}

	.without-opsz h3 {
		flex-direction: column;
	}
}

@media screen and (max-width: 48em) {
	.opsz-small,
	.opsz-small-with {
		font-size: 1.25rem;
	}

	.opsz-medium,
	.opsz-medium-with {
		font-size: 1.75rem;
	}

	.opsz-large,
	.opsz-large-with {
		font-size: 2.5rem;
	}

	.opsz-demo p {
		margin: 0 0 2.25rem 0;
	}
}

/* Helper element to determine width */
.opsz-demo-control {
	max-width: var(--max-prose-content-width);
	margin: 0 auto;
}
