.toggle-block {
	padding: 5rem 2rem 2rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.toggle-block-morphing-text {
	/* allow for smooth transition when toggling */
	transition: font-variation-settings 0.25s ease-in;
}

.toggle-block .toggle-block-morphing-text {
	font-size: 10vw;
	font-variation-settings: "wght" var(--toggle-block-font-weight);
}

.toggle-block-black {
	--toggle-block-font-weight: var(--weight-black);

	background-color: var(--arapey-black);
	color: var(--arapey-white);
}

.toggle-block-red {
	--toggle-block-font-weight: var(--weight-black);

	background-color: var(--arapey-red);
	color: var(--arapey-white);
}

.toggle-block-red .toggle-block-morphing-text {
	font-size: 11vw;
	font-variation-settings: "wght" var(--toggle-block-font-weight);
}

.toggle-block-gray {
	--toggle-block-font-weight: var(--weight-thin);

	background-color: var(--arapey-gray);
	color: var(--arapey-red);
}

.toggle-block-gray .toggle-block-morphing-text {
	font-size: 12vw;
	font-variation-settings: "wght" var(--toggle-block-font-weight);
}

.toggle-content {
	display: flex;
	margin-top: 2.5rem;
}

.toggle-label {
	font-size: 1.25rem;
	font-weight: var(--weight-bold);
	color: var(--arapey-black);
}

.toggle-block-black .toggle-label {
	color: var(--arapey-red);
}

.toggle-content .interactive-controls-toggle {
	margin: 0 1rem;
}
