:root {
	--arapey-red: #b30c00;
	--arapey-green: #156452;
	--arapey-blue: #185078;
	--arapey-black: #000;
	--arapey-gray: #e9e9e9; /* TODO: merge with --arapey-light-gray */
	--arapey-white: #fff;
	--arapey-light-gray: #e7e7e7;
	--arapey-light-gray-transparent: rgba(247, 247, 247, 0.9);

	/* Font weights */
	--weight-thin: 100;
	--weight-extra-light: 200;
	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semi-bold: 600;
	--weight-bold: 700;
	--weight-extra-bold: 800;
	--weight-black: 900;

	/* Content */
	--max-content-width: 75rem;
	--max-prose-content-width: 60rem;
}
