:root {
	--arapey-red: #e03d2f;
	--arapey-purple: #480423;
	--arapey-blue: #9fd2e9;
	--arapey-dark-blue: #1e527f;
	--arapey-white: #faf5ef;
	--arapey-light-gray: #f7f7f7;
	--arapey-light-gray-transparent: rgba(247, 247, 247, 0.7);
}
