.weather-section {
	--temperature-slider: 500;
	--wind-slider: 500;
	--time-slider: 500;

	padding: 2rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
	max-width: 1400px;
	margin: 0 auto;
}

.weather-section .tick-list-item {
	justify-content: center;
}

.weather-content-container {
	margin-bottom: 8rem;
}

.weather-text-container {
	position: relative;
	display: flex;
	align-items: center;
}

.weather-text-container .interactive-controls-text {
	margin: 0 auto;
	color: var(--arapey-green);
	text-align: center;
}

.weather-text-container .temperature {
	font-size: 12rem;
	font-weight: var(--temperature-slider);
}

.weather-text-container .wind {
	font-size: 5rem;
	font-weight: var(--wind-slider);
}

.weather-text-container .time {
	font-size: 7rem;
	font-weight: var(--time-slider);
}

.weather-text-container small {
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 1.5rem;
	font-weight: var(--weight-semi-bold);
}
