---
layout: default.html
---

<div class="loading-message">
	<span class="loading-message-loading">Loading...</span>
	<span class="loading-message-failed">Failed :-(</span>
</div>

<div class="variable-support-message">
	Your browser doesn't do variable fonts :-(
</div>

<main>

	{% include arapey-hero.html %}
	{% include about-arapey.html %}
	{% include fonts-in-use.html %}
	{% include character-grid.html %}
	{% include toggle-block-container.html %}
	{% include character-slide.html %}
	{% include weather.html %}

</main>
