---
layout: default.html
---

<div class="loading-message">
	<span class="loading-message-loading">Loading...</span>
	<span class="loading-message-failed">Failed :-(</span>
</div>

<div class="variable-support-message">
	Your browser doesn't do variable fonts :-(
</div>

<main>

	{% include arapey-hero.html %}
	{% include about-arapey.html %}


	<section class="toggle-block-container">
		{% include toggle-section.html color: "black" content: "Termas del Arapey" toggle-color: "white-red" checked: "checked" %}
		{% include toggle-section.html color: "red" content: "Salto Uruguay" toggle-color: "white-black" checked: "checked" %}
		{% include toggle-section.html color: "gray" content: "Hot Springs" toggle-color: "red-black" %}
	</section>

	{% include interactive-controls.html %} 


	{% include character-grid.html %}

	<hr />

	{% include animation.html %}
</main>
